.button_welcome{

  z-index: 13;

}

.button_welcome_1{

  width: 100px;
  height: 100px;
  border-radius: 100%;
  border:none;
  box-shadow: 0 0 2em var(--black),inset 0 0 1em var(--black);
  z-index: 13;
  animation-name:button_animation ;
  animation-iteration-count:infinite;
  animation-duration: 10s; 

}

.button_welcome_1:hover{

  width: 110px;
  height: 110px;
  transition: transform 10s;
 
}


@keyframes button_animation{
  
  0% {background-color: var(--blue);}
  25% {background-color: var(--yellow);}
  50% {background-color: var(--green);}
  75% {background-color: var(--orange);}
  100% {background-color: var(--blue);}
 
}

.icon, .icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6, .icon_7, .icon_8, .icon_9, .icon_10, .icon_11{

  animation-iteration-count:infinite;
  animation-duration: 20s; 
  position:absolute;

}

.icon, .icon_1, .icon_2, .icon_3, .icon_5, .icon_7, .icon_8, .icon_9{

  width:100px;

}

.icon{

  animation-name: icon ;
  opacity:80%;

}

.icon_1{

  animation-name:icon_1 ;
  opacity:65%;
 
}

.icon_2{

  animation-name:icon_2 ;
  opacity:70%;
 
}

.icon_3{

  animation-name:icon_3 ;
  opacity:80%;
}

.icon_4{

  animation-name:icon_4 ;
  opacity:90%;
  width: 90px;

}

.icon_5{

  animation-name:icon_5 ;
  opacity:40%;

}

.icon_6{

  animation-name:icon_6 ;
  opacity:45%;
  width: 120px;

}

.icon_7{

  animation-name:icon_7 ;
  opacity:35%;

}

.icon_8{

  animation-name:icon_8 ;
  opacity:45%;

}

.icon_9{

  animation-name:icon_9 ;
  opacity:40%;

}

.icon_10{

  animation-name:icon_10 ;
  opacity:25%;
  width: 90px;

}

.icon_11{

  animation-name:icon_11 ;
  opacity:40%;
  width: 90px;

}

@keyframes icon {

  0%   {left:0vw;top:10vh;}
  50%  {left:80vw;top:80vh;}
  100% {left:0vw;top:10vh;}
  
  0% {transform: rotateY(180deg) rotateX(180deg)}
  25% {transform: rotateY(-180deg) rotateX(0deg)}
  50% {transform: rotateY(180deg) rotateX(180deg)}
  75% {transform: rotateY(-180deg) rotateX(0deg)}
  100% {transform: rotateY(180deg) rotateX(180deg)}
 
}

@keyframes icon_1{

  0%   {left:20vw; top:80vh;}
  50%  {left:5vw; top:20vh;}
  100% {left:20vw; top:80vh;}
  
  0% {transform: rotateY(-45deg) rotateX(-180deg)}
  25% {transform: rotateY(45deg) rotateX(0deg)}
  50% {transform: rotateY(-45deg) rotateX(-180deg)}
  75% {transform: rotateY(45deg) rotateX(0deg)}
  100% {transform: rotateY(-45deg) rotateX(-180deg)}

}

@keyframes icon_2{

  0%   {left:80vw;top:20vh;}
  50%  {left:0vw;top:80vh;}
  100% {left:80vw;top:20vh;}
  
  0% {transform: rotateY(180deg) rotateX(180deg)}
  25% {transform: rotateY(-180deg) rotateX(0deg)}
  50% {transform: rotateY(180deg) rotateX(180deg)}
  75% {transform: rotateY(-180deg) rotateX(0deg)}
  100% {transform: rotateY(180deg) rotateX(180deg)}

}

@keyframes icon_3{

  0%   {left:0vw;top:80vh;}
  50%  {left:80vw;top:0vh;}
  100% {left:0vw;top:80vh;}
  
  0% {transform: rotateY(-45deg) rotateX(-180deg)}
  25% {transform: rotateY(45deg) rotateX(0deg)}
  50% {transform: rotateY(-45deg) rotateX(-180deg)}
  75% {transform: rotateY(45deg) rotateX(0deg)}
  100% {transform: rotateY(-45deg) rotateX(-180deg)}

}

@keyframes icon_4{

  0%   {left:80vw;top:10vh;}
  50%  {left:0vw;top:30vh;}
  100% {left:80vw;top:10vh;}
  
  0% {transform: rotateY(180deg) rotateX(180deg)}
  25% {transform: rotateY(-180deg) rotateX(0deg)}
  50% {transform: rotateY(180deg) rotateX(180deg)}
  75% {transform: rotateY(-180deg) rotateX(0deg)}
  100% {transform: rotateY(180deg) rotateX(180deg)}
 
}

@keyframes icon_5{

  0%   {left:0vw;top:80vh;}
  50%  {left:80vw;top:60vh;}
  100% {left:0vw;top:80vh;}
  
  0% {transform: rotateY(-45deg) rotateX(-180deg)}
  25% {transform: rotateY(45deg) rotateX(0deg)}
  50% {transform: rotateY(-45deg) rotateX(-180deg)}
  75% {transform: rotateY(45deg) rotateX(0deg)}
  100% {transform: rotateY(-45deg) rotateX(-180deg)}
 
}

@keyframes icon_6{

  0%  {left:100vw;top:35vh;}
  50%  {left:0vw;top:15vh;}
  100% {left:100vw;top:35vh;}
  
  0% {transform: rotateY(180deg) rotateX(180deg)}
  25% {transform: rotateY(-180deg) rotateX(0deg)}
  50% {transform: rotateY(180deg) rotateX(180deg)}
  75% {transform: rotateY(-180deg) rotateX(0deg)}
  100% {transform: rotateY(180deg) rotateX(180deg)}
 
}

@keyframes icon_7{

  0%   {left:0vw;top:50vh;}
  50%  {left:50vw;top:45vh;}
  100% {left:0vw;top:50vh;}
  
  0% {transform: rotateY(-45deg) rotateX(-180deg)}
  25% {transform: rotateY(45deg) rotateX(0deg)}
  50% {transform: rotateY(-45deg) rotateX(-180deg)}
  75% {transform: rotateY(45deg) rotateX(0deg)}
  100% {transform: rotateY(-45deg) rotateX(-180deg)}
 
}

@keyframes icon_8{

  0%   {left:30vw;top:90vh;}
  50%  {left:20vw;top:0vh;}
  100% {left:30vw;top:90vh;}
  
  0% {transform: rotateY(180deg) rotateX(180deg)}
  25% {transform: rotateY(-180deg) rotateX(0deg)}
  50% {transform: rotateY(180deg) rotateX(180deg)}
  75% {transform: rotateY(-180deg) rotateX(0deg)}
  100% {transform: rotateY(180deg) rotateX(180deg)}
 
}

@keyframes icon_9{

  0%   {left:100vw;top:15vh;}
  50%  {left:0vw;top:60vh;}
  100% {left:100vw;top:15vh;}
  
  0% {transform: rotateY(-45deg) rotateX(-180deg)}
  25% {transform: rotateY(45deg) rotateX(0deg)}
  50% {transform: rotateY(-45deg) rotateX(-180deg)}
  75% {transform: rotateY(45deg) rotateX(0deg)}
  100%{transform: rotateY(-45deg) rotateX(-180deg)}
 
}

@keyframes icon_10{

  0%  {left:85vw;top:90vh;}
  50% {left:55vw;top:0vh;}
  100% {left:85vw;top:90vh;}
  
  0% {transform: rotateY(180deg) rotateX(180deg)}
  25% {transform: rotateY(-180deg) rotateX(0deg)}
  50% {transform: rotateY(180deg) rotateX(180deg)}
  75% {transform: rotateY(-180deg) rotateX(0deg)}
  100% {transform: rotateY(180deg) rotateX(180deg)}
 
}

@keyframes icon_11{

  0%   {left:35vw;top:60vh;}
  50%  {left:60vw;top:35vh;}
  100% {left:35vw;top:60vh;}
  
  0% {transform: rotateY(-45deg) rotateX(-180deg)}
  25% {transform: rotateY(45deg) rotateX(0deg)}
  50% {transform: rotateY(-45deg) rotateX(-180deg)}
  75% {transform: rotateY(45deg) rotateX(0deg)}
  100% {transform: rotateY(-45deg) rotateX(-180deg)}
 
}








